@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
	margin: 0;
	font-family: "League Spartan";
	display: flex;
	flex-direction: column;
	color: #59e50d;
	height: 100vh;
	background-color: #461b91;
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15l15 15H0V15zM15 0l15 15V0H15z' fill='%23341568' fill-opacity='0.58' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
