{{ template "layout.gotmpl" . }}

{{ define "content" }}
	<div class = "form-group col1">	
		{{ template "attribute-sliders.gotmpl" . }}
	</div>

	<div class = "form-group col2">
		{{ template "seed-genres.gotmpl" . }}
	</div>

	<div class = "form-group col3">
		{{ template "seed-artists.gotmpl" . }}
		{{ template "max-tracks.gotmpl" . }}
	</div>

	<div class = "form-group col4">
		{{ template "seed-tracks.gotmpl" . }}
		{{ template "generate-button.gotmpl" . }}
	</div>
{{ end }}
