{{ template "layout.gotmpl" . }}

{{ define "content" }}
	<div class = "sliders-form">	
		{{ template "attribute-sliders.gotmpl" . }}
	</div>

	<div class = "form-group">
		{{ template "seed-genres.gotmpl" . }}
		{{ template "seed-artists.gotmpl" . }}
		{{ template "max-tracks.gotmpl" . }}
		{{ template "generate-button.gotmpl" . }}
	</div>
{{ end }}
