<div class = "genres">
	<p>genres</p>
	<div class = "genre-tags">
		
	</div>
	<input type="text" list="available-seed-genres" class="input-tag">
	<datalist id="available-seed-genres" class="available-seed-genres">
	</datalist>
</div>

<script type="text/javascript">
	var availableSeedGenres = {{ .AvailableSeedGenres }}
</script>

<script src="/js/genre-tags.js"></script>
