<div class = "form max-tracks">
	<h3 class="max-tracks-title">max tracks: 50</h3>
	<input type="range" min="1" max="100" value="50" class="slider" id="max-tracks-slider">
</div>

<script src="js/max-tracks.js"></script>