{{ define "playlist" }}

<div class="playlist">
	<div class="playlist-header" id="playlist-header">
	</div>

	<div class="add-button" id="add-button">
	</div>
	
	<ul id="tracks-list" class="tracks-list">
	</ul>
</div>

{{ end }}
