<div class="form artists">
	<h3>seed artists</h3>
	<div class = "tags">
	</div>
	<input type="text" list="available-seed-artists" class="input-tag">
	<datalist id="available-seed-artists" class="available-seed-artists">
	</datalist>
</div>

<script type="text/javascript">
	var availableSeedArtists = {{ .AvailableSeedArtists }}
</script>

<script src="js/seed-artists.js"></script>
