<div class="form genres">
	<h3>seed genres</h3>
	<div class = "tags">
	</div>
	<input type="text" list="available-seed-genres" class="input-tag">
	<datalist id="available-seed-genres" class="available-seed-genres">
	</datalist>
</div>

<script type="text/javascript">
	var availableSeedGenres = {{ .AvailableSeedGenres }}
</script>

<script src="/js/seed-genres.js"></script>
