.col1 {
	grid-column: 1 / span 1;
	margin-left: auto;
	width: 25vw;
}

.col2 {
	grid-column: 2 / span 1;
	margin-right: auto;
	width: 25vw;
}

.col3 {
	grid-column: 3 / span 1;
	padding-right: 5rem;
}

.col4 {
	grid-column: 4 / span 1;
}
