.form {
	background: #2C003D;

	margin: 0.5rem 1rem;
	border-radius: 3rem;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: start;
	opacity: 100%;
}

.form h3 {
	padding-block: 0.5rem;
	margin-right: auto;
}

.tags {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
}

.tag {
	display: flex;
	align-items: center;
	justify-items: center;
	column-gap: 0.5rem;
	width: max-content;

	padding: 0.5rem;
	border-radius: 1rem;

	background-color: #470066;
	color: #E4BE14;
	cursor: default;
}

.input-tag {
	border-radius: 1rem;
	width: 100%;
	margin-block: 1rem;

	background-color: #54305d;
	border: none;
	color: #E4BE14;
}

.btn-rm-tag {
	width: 1rem;
	height: 1rem;

	border: none;
	border-radius: 50%;

	display: grid;
	place-content: center;
	cursor: pointer;
}

.tag button {
	background-color: #2C003D;
	color: #E4BE14;
}
