.max-tracks {
	background: #341568;

	margin: 0.5rem 1rem;
	border-radius: 3rem;
	padding: 1rem 3rem;

	grid-column: 2 / span 1;
	grid-row: 2 / span 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.max-tracks input {
	width: 100%;
	accent-color: #59e50d;
	border: none;
}

.max-tracks p {
	margin-right: auto;
	margin-block: 0.3rem;
	padding-top: 0.5rem;
}
