.playlist {
	background-color: #E7E2D6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playlist-header {
	display: grid;
	grid-template-columns: auto 1fr;
	width: 60%;
	align-items: center;
	margin-block: 1rem;
}

.playlist-title {
	font-family: "League Spartan";
	font-size: 3rem;
	color: #2B003D;
	margin-left: 2rem;
	background-color: #F0EDE5;
	border: none;
	width: 28rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px #8E7E52;
}

.playlist-image {
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	justify-content: start;
	box-shadow: 5px 5px 5px #8E7E52;

}

.add-button {
	margin: 0.5rem 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.add-button button {
	font-size: 1.25rem;
	text-decoration: none;
	background-color: #2B003D;
	color: #E4BE14;

	border: none;

	border-radius: 3rem;

	padding: 1rem 3rem;
	width: 25rem;

}

.tracks-list {
	grid-column: 1 / span 2;
}

.track {
	background-color: #F0EDE5;
	box-shadow: 5px 5px 5px #8E7E52;
	margin-block: 1rem;
	margin-inline: 5rem;
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: 1fr 1fr;
	border-radius: 1rem;
}

.track audio {
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;

	margin-left: 1rem;
	margin-block: auto;
	border-radius: 3rem;
	box-shadow: 3px 3px 5px #8E7E52;
}

.track .album {
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;

	margin: 1rem;

	border-radius: 5px;

	box-shadow: 3px 3px 5px #8E7E52;
}

.track span {
	grid-column: 3 / span 1;
	color: #2B003D;
}

.track .name {
	grid-row: 1 / span 1;
	font-size: 1.25rem;
	font-weight: bold;

	margin-top: auto;
}

.track .artist {
	grid-row: 2 / span 1;
}
