.sliders {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	align-items: center;
}

.sliders input {
	width: 100%;
	accent-color: #E4BE14;
	border: none;
	margin-bottom: 0.5rem;
}

.sliders h3 {
	margin-right: auto;
}
