header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background: #341568;
	box-shadow: 0px 5px 5px #220D44;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-inline: auto;
	padding-block: 2rem;
	align-items: center;
}

.title h1 {
	font-weight: bold;
	font-size: 3rem;
}

.login a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #59e50d;
}

.login a:hover {
	color: #94dd6c;
}
