.sliders {
	background: #341568;

	margin: 20px;

	border-radius: 40px;

	padding-block: 10px;
	padding-inline: 50px;

	grid-column: 1 / span 1;
	grid-row: 1 / span 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sliders input {
	width: 200px;
	accent-color: #59e50d;
	border: none;
}

.sliders p {
	margin-block: 6px;
	padding-top: 10px;
}

.sliders a {
	text-decoration: none;
	color: #59e50d;
	padding-bottom: 10px;
	padding-top: 20px;
}

.sliders a:hover {
	color: #94dd6c;
}
