
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{{ .Title }}</title>
			<link rel="stylesheet" href="/css/styles.css">
		</head>

		<body>
			{{ template "header" . }}
			
			<div class = "content">
				{{ block "content" . }}
					<div class = "page-not-found">
						<h1>Page not found</h1>
					</div>
				{{ end }}
			</div>

			{{ template "footer" . }}
		</body>
	</html>
